@import './base.css';

body {
  @apply bg-zinc-800;
}

body, .font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.material-symbols-outlined:hover {
  font-variation-settings: 'FILL' 1;
}
